.article p {
  margin: 1.5rem 0;
  text-align: justify;
  font-size: 1rem;
}

.article a,
.article a:visited {
  overflow-wrap: anywhere;
  color: var(--link);
  text-decoration: none;
}

.article a:hover {
  text-decoration-line: underline;
}

.article h1,
.article h2,
.article h3,
.article h4 {
  font-weight: 700;
}

.article h1 {
  margin: 2rem 0;
  font-size: 2rem;
}

.article h2 {
  margin: 1.75rem 0;
  font-size: 1.75rem;
}

.article h3 {
  margin: 1.5rem 0;
  font-size: 1.5rem;
}

.article h4 {
  margin: 1.5rem 0;
  font-size: 1.25rem;
}

.article h5 {
  margin: 1.5rem 0;
  font-size: 1rem;
}

.article .katex-display {
  overflow-x: auto;
  overflow-y: hidden;
}

.article img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.article ul {
  padding-left: 2rem;
  list-style-type: disc;
}

.article ol {
  padding-left: 2rem;
  list-style-type: decimal;
}

.article input,
.article button,
.article textarea,
.article select {
  font-family: inherit;
}

.article textarea {
  width: 100%;
}

.article code,
.article pre,
.article kbd {
  font-family: Maple Mono, Jetbrains Mono;
}

.article table {
  width: auto;
  margin: 0 auto;
  border-collapse: collapse;
  counter-increment: caption;
}

.article table>thead {
  border-color: var(--border);
  border-style: solid;
  border-width: 2.27px 0 1.8px;
}

.article table>tbody {
  border-color: var(--border);
  border-style: none none solid;
  border-bottom-width: 2.27px;
}

.article th,
.article td {
  padding: 0.25rem 1rem;
}

.article caption {
  text-align: left;
  font-size: 0.923em;
  padding: 0 0.25em 0.25em;
  width: 100%;
  margin-left: 0;
}

.article caption::before {
  content: 'Table ' counter(caption) '. ';
  font-weight: bold;
}

.article blockquote {
  margin: 1.5rem 0;
  padding: 0.25rem 1.25rem;
  background-color: var(--blockquote-bg);
  border-inline-start: 5px solid var(--border);
}

.article .scroll-wrapper {
  max-width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.article .scroll-wrapper>table th,
.article .scroll-wrapper>table td {
  white-space: nowrap;
}

.article nav ol {
  padding-left: 0;
  list-style: none;
  counter-reset: item;
}

.article nav li {
  display: block;
}

.article nav li::before {
  content: counters(item, '.') ' ';
  counter-increment: item;
  padding-right: 0.85rem;
  font-weight: inherit;
  color: var(--link-visited);
}

.article dl dd {
  text-align: center;
}

.article pre {
  margin: 1rem 0;
  border: 2px solid var(--border);
  padding: 1rem;
}

.article pre.astro-code {
  background-color: var(--code-bg) !important;
}

.article pre.astro-code,
.article pre.astro-code span {
  color: var(--shiki-light) !important;
  font-style: var(--shiki-light-font-style) !important;
  font-weight: var(--shiki-light-font-weight) !important;
  text-decoration: var(--shiki-light-text-decoration) !important;
}

html.dark .article pre.astro-code,
html.dark .article pre.astro-code span {
  color: var(--shiki-dark) !important;
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

.article code {
  font-size: 0.875rem;
}
