---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
>

<p>ZAFU 2020 级计算机，在学编程。常用 ID : `rogeryoungh`。</p>

<p>喜欢数学和编程，很想认识些有同样兴趣的朋友，欢迎交换友链！</p>

<h2>## 联系方式</h2>

<p>GitHub：[rogeryoungh](https://github.com/rogeryoungh)</p>

<p>Telegram: [rogeryoungh](https://t.me/rogeryoungh)</p>

<p>邮件：[rogeryoungh@foxmail.com](mailto:rogeryoungh@foxmail.com)。</p>
</Layout>
