---
import Layout from '../layouts/PostLayout.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('2021-02-02')}
>

<p>ZAFU 2020 级计算机，在学编程。常用 ID : <code>rogeryoungh</code>。</p>

<p>喜欢数学和编程，很想认识些有同样兴趣的朋友，欢迎交换友链！</p>

<h2>联系方式</h2>

<p>GitHub：<a href="https://github.com/rogeryoungh">rogeryoungh</a></p>

<p>Telegram: <a href="https://t.me/rogeryoungh">@rogeryoungh</a></p>

<p>邮件：<a href="mailto:rogeryoungh@foxmail.com"><code>rogeryoungh at foxmail dot com</code></a></p>

</Layout>
