---
import Layout from '../layouts/PostLayout.astro';
---

<Layout
	title="关于我"
	description="关于我"
	pubDate={new Date('2025-02-20')}
>

<p>现于 ZJU CST 读研。</p>

<p>熟练掌握 C++/Java。略懂算法，获得过 ICPC 区域赛金牌。和目前对渲染优化 / CUDA 编程感兴趣，求杭州 / 线上实习。</p>

<h2>联系方式</h2>

<p>常用 ID : <code>rogeryoungh</code>。你可以在 <a href="https://github.com/rogeryoungh">GitHub</a>、<a href="https://t.me/rogeryoungh">Telegram</a>上找到我。</p>

<p>邮件：<a href="mailto:rogeryoungh@foxmail.com"><code>rogeryoungh at foxmail dot com</code></a></p>

</Layout>
