---
import Layout from "../../layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("post")).sort(
	(a: any, b: any) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout title="目录">
	<article class="px-4 my-20">
		<div class="mx-auto max-w-3xl">
			<div class="text-center my-10">
				<h1>目录</h1>
			</div>
			<ul>
				{
					posts.map((post: any) => (
						<li>
							<a href={`/post/${post.slug}/`}>
								<span>{post.data.title}</span>
								<span>
									<FormattedDate date={post.data.pubDate} />
								</span>
							</a>
						</li>
					))
				}
			</ul>
		</div>
	</article>
</Layout>
