---
import Layout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("post")).sort(
	(a: any, b: any) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout title="目录">
	<article class="my-20">
		<div class="mx-auto max-w-3xl">
			<div class="text-center my-10">
				<h1>目录</h1>
			</div>
			<ul>
				{
					posts.map((post: any) => (
						<li class="flex justify-between px-2 sm:px-8 py-3 transition hover:bg-stone-200">
							<a href={ `/post/${post.slug}/` } class="decoration-none text-primary"> { post.data.title }</a>
							<span class="text-secondary text-nowrap"><FormattedDate date={post.data.pubDate} format='YYYY-MM-DD' /></span>
						</li>
					))
				}
			</ul>
		</div>
	</article>
</Layout>
