---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="shadow print:hidden">
	<nav class="max-w-6xl mx-auto">
		<div class="flex items-center justify-between ">
			<div class="pl-2 flex items-center space-x-4">
				<img
					src="https://files.rogery.dev/me/icon-128.png"
					alt="Roger's avatar"
					class="w-10 h-10 rounded-full border-solid border-2 border-stone-300 transition transition-duration-500 hover:transform-rotate-720"
				/>
				<a class="decoration-none color-base color-initial font-bold" href="/">{SITE_TITLE}</a>
			</div>
			<div class="">
				<HeaderLink href="/">Home</HeaderLink>
				<HeaderLink href="/post">Articles</HeaderLink>
				<HeaderLink href="/about">About</HeaderLink>
			</div>
		</div>
	</nav>
</header>
