---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, ...props } = Astro.props;

const { pathname } = Astro.url;
const currentPath = pathname.endsWith('/') ? pathname : `${pathname}/`;
const currentParts = currentPath.match(/[^\/]+/g) ?? [];
const hrefPath = typeof href === 'string' && href.endsWith('/') ? href : `${href}/`;
const hrefParts = typeof href === 'string' ? hrefPath.match(/[^\/]+/g) ?? [] : [];
const isActive = hrefPath === currentPath || (
	hrefParts.length > 1 &&
	currentParts[0] === hrefParts[0] &&
	currentParts[1] === hrefParts[1]
);
---

<a
	href={href}
	class:list={[
		"p-5 font-medium decoration-none",
		{ active: isActive },
	]}
	{...props}
>
	<slot />
</a>
<style>
	a {
		display: inline-block;
		text-decoration: none;
	}
	a:hover {
		background: var(--surface-hover);
		transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
	}
	a.active {
		font-weight: bolder;
		background: var(--surface-active);
	}
</style>
