---
import BaseLayout from "./BaseLayout.astro";

import "../styles/markdown.css";

interface Props {
	title?: string;
	description?: string;
}

const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description}>
	<article class="my-20">
		<div class="article mx-auto">
			<slot />
		</div>
	</article>
</BaseLayout>
